<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/Dashboard_Candidate/nav_bar/style.css'%}">
    <title>Khedmati</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <a href="{%url 'home'%}">
                <img src="{%static 'img/Dashboard_Candidate/nav_bar/new_logo.png'%}" class="nav-bar-logo">
            </a>
            <a href="{%url 'home'%}">
                <img src="{%static 'img/Dashboard_Candidate/nav_bar/new_icon2.png'%}" class="nav-bar-logo2 hidden">
            </a>
            <hr>
            <ul>
                <li>
                    <a href="{%url 'candidate_dashboard'%}">
                        <span class="icon"><ion-icon name="home"></ion-icon></span>
                        <span class="title">Dashboard</span>    
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage_profile_candidate'%}">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <span class="title">Profile</span>    
                    </a>
                </li>
                <li>
                    <a href="{% url 'change_password_candidate'%}">
                        <span class="icon"><ion-icon name="finger-print"></ion-icon></span>
                        <span class="title">Change Password</span>    
                    </a>
                </li>
                <li>
                    <a href="{%url 'add_resume'%}">
                        <span class="icon"><ion-icon name="add-circle"></ion-icon></span>
                        <span class="title">Add Resume</span>    
                    </a>
                </li>
                <!--<li>
                    <a href="#">
                        <span class="icon"><ion-icon name="briefcase"></ion-icon></span>
                        <span class="title">Manage Resume</span>    
                    </a>
                </li>-->
                <li>
                    <a href="{%url 'apply_response'%}">
                        <span class="icon"><ion-icon name="document"></ion-icon></span>
                        <span class="title">Applications Responses</span>    
                    </a>
                </li>
                <li>
                    <a href="{%url 'logout'%}">
                        <span class="icon"><ion-icon name="log-out"></ion-icon></span>
                        <span class="title">Logout</span>    
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

</html>
