<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{%static 'css/Job_detailed/style.css'%}">
    <script src="jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Khedmati</title>
</head>


<body>
    {% block content %}

<div class="khedmati">
    {% include 'Header_Footer/header.html' %}
</div>

<div class="Job_list_wallpaper">
    <img src="{%static 'img/Job_detailed/Job_detailled2.jpg'%}" alt="">
    <h1>Jobs Detail</h1>
    <div class="Job_list_wallpaper_color"></div>
</div>


<div class="container">

<div class="main-content">
    <div class="main_content_wallpaper">
        <img src="{%static 'img/Job_detailed/Job_detailled.jpg'%}" alt="">
        <div class="company_logo">
            <img src="{{job.idEmployer.image}}" alt="">
        </div>
    </div>
    <div class="job_text">
        <div class="fisrt_text">
            <h4>{{job.job_title}}</h4>
            <h6><i class="fa-solid fa-suitcase"></i> <span>Company :</span> {{ job.idEmployer.company_name }} </h6>
            <h6><i class="fa-solid fa-location-dot"></i> <span>Location :</span> {{ job.idEmployer.address }} , {{ job.idRegion.city }}, {{ job.idRegion.country }}</h6>
            <h6><i class="fa-sharp fa-solid fa-coins"></i> {{ job.salary_range }} <span> DA / Month</span> </h6>
            <h5><i class="fas fa-calendar-alt"></i> Date Posted : <span>{{ job.date_posted }}</span> </h5>
        </div>
        <div class="second_text">
            <h4>Job Description :</h4>
            <p>{{job.job_description}}</p>
            <h4>Job Requirements:</h4>
            <p>{{job.job_requirements|linebreaksbr}}</p>
        </div>
    </div>
        {% for message in messages %}
        <p class="messages">{{ message }}</p> 
        {% endfor %}
        <script>
            setTimeout(function() {
                document.querySelector('.messages').remove();
            }, 15000); 
        </script>

    <div class="apply_job">
        <a href="{% url 'apply_job' job.idJob %}">
            <button>Apply Job</button>
        </a>
    </div>


</div>

<div class="Job_information">
    <div class="detaills">
    <h4>Job Information</h4>
    <hr>
    <div class="detaills_icon">
        <span><i class="fas fa-calendar-alt"></i></span>
    </div>
        <label for="" > Date Posted</label>
        <p>{{ job.date_posted }}</p>
        <div class="detaills_icon">
            <span><i class="fas fa-map-marker-alt"></i></span>
        </div>
        <label for="" > Location</label>
        <p>{{ job.idEmployer.address }}</p>
        <div class="detaills_icon">
            <span><i class="fas fa-user-tie"></i></span>
        </div>
        <label for="" > Job Title</label>
        <p>{{job.job_title}}</p>
        <div class="detaills_icon">
            <span><i class="fas fa-money-bill-wave"></i></span>
        </div>
        <label for="" > Salary</label>
        <p>{{ job.salary_range }} DA / Month</p>
    </div>
</div>

</div>

<!-------------------------------------------------->
<!--           Second Part           -->
<!-------------------------------------------------->


<div class="container2">

    <div class="gps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6502.289361594392!2d8.050280139130711!3d35.426445833217684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f9ec2d10bb5965%3A0x57c9b9000133f1eb!2z2KzYp9mF2LnYqSDYp9mE2LTZitiuINin2YTYudix2KjZiiDYp9mE2KrYqNiz2YosINiq2YDZgNio2YDZgNiz2YDZgNmA2YDZgNipIDEyMDAy!5e0!3m2!1sfr!2sdz!4v1682795176683!5m2!1sfr!2sdz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="campany_information">
        <div class="company_logo2">
            <img src="{{job.idEmployer.image}}" alt="">
        </div>
        <div class="detaills2">
        <h4>{{job.job_title}}</h4>
        <div class="detaills_icon2">
            <span><i class="fas fa-building"></i></span>
        </div>
            <label for="" > Company</label>
            <p>{{ job.idEmployer.company_name }}</p>
            <div class="detaills_icon2">
                <span><i class="fas fa-mobile-alt"></i></span>
            </div>
            <label for="" > Phone</label>
            <p>{{ job.idEmployer.phone }}</p>
            <div class="detaills_icon2">
                <span><i class="fas fa-at"></i></span>
            </div>
            <label for="" > Email</label>
            <p>{{ job.idEmployer.email }}</p>
            <div class="detaills_icon2">
                <span><i class="fas fa-map-marker-alt"></i></span>
            </div>
            <label for="" > Address</label>
            <p>{{ job.idEmployer.address }} </p>
        </div>
    </div>
    
    </div>


<div id="footer">
    {% include 'Header_Footer/footer.html' %}
</div>

</body>
{% endblock %}

<script src="{%static 'js/Job_detailed/custom.js'%}" ></script> 

</html>
