<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{%static 'css/Sign_up_in/reset_password/reset_password.css'%}">
  </head>
  <body>
    {% block content %}
    <div class="container">
      <h1>Reset Password</h1>
      <form method="post">
        {% csrf_token %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                <p class="messages">{{ message }}</p> 
                {% endfor %}
            </div>
        {% endif %}
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="password" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirm_password" required>
        <button type="submit" id="submitBtn">Reset Password</button>
      </form>
    </div>
    <script src="reset_password.js"></script>
    {%endblock%}
  </body>
</html>
