<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{%static 'css/Dashboard_Candidate/Reset_Password/style.css'%}">
    <script src="jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Khedmati</title>
</head>


<body>
    {%block content%}
    <div class="nav_bar">{%include 'Dashboard_Candidate/nav_bar/nav_bar.html'%}</div>
    
    <div class="main">
        <div class="top_bar">{%include 'Dashboard_Candidate/nav_bar/top_bar.html'%}</div>
        <div class="nav-title">
            <h2>  Change Password</h2>
            <div class="nav-title-link"><a href="{%url 'home'%}">Home</a><span> Change Password </span></div>
        </div>
        <div class="nav-main">
            <div class="nav-main-title">
                <ion-icon name="finger-print"></ion-icon>
                <h3> Change Password</h3>
            </div>
            <hr>
            {% for message in messages %}
            <p class="messages">{{ message }}</p> 
            {% endfor %}
            <script>
                setTimeout(function() {
                    document.querySelector('.messages').remove();
            }, 5000); 
            </script>
        <div class="form-change-password">
            <form method="post" action="">
                {% csrf_token %} 
                        <div class="form-group">
                            <label>Old Password</label>
                            <div class="input-box"> 
                                <i class="fas fa-lock"></i>
                                <input value="" name="old_password" name="" type="password" placeholder="Enter your old password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <div class="input-box"> 
                                <i class="fas fa-lock"></i>
                                <input value="" name="new_password" type="password" placeholder="Enter your new password">
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <div class="input-box"> 
                                <i class="fas fa-lock"></i>
                                <input value="" name="confirm_password" type="password" placeholder="Enter your confirm new password">
                            </div>
                        </div>
                        <div class="btn-submit">
                            <button type="submit" class="site-button">
                            Save Changes</button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="margin-bottom"></div>
    </div>
{% endblock %}
</body>

<script src="{%static 'js/Dashboard_Candidate/Reset_Password/custom.js'%}"></script>

</html>