<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{%static 'css/Contact_us/style.css'%}">
    <script src="jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Khedmati</title>
</head>


<body>

    {% block content %}

    <div class="khedmati">
        {% include 'Header_Footer/header.html' %}
    </div>

    <div class="Job_list_wallpaper">
        <img src="{%static 'img/Contact_us/Job_detailled2.jpg'%}" alt="">
        <h1>Contact us</h1>
        <div class="Job_list_wallpaper_color"></div>
    </div>


    <div class="container">

        <div class="main-content">
            <div class="Contact-us">
                <div class="contact-text">
                    <h1>Send Us a Message</h1>
                    <p>Feel free to contact us and we will get back to you as soon as we can</p>
                </div>
                {% for message in messages %}
                <p class="messages">{{ message }}</p> 
                {% endfor %}
                <script>
                    setTimeout(function() {
                        document.querySelector('.messages').remove();
                }, 5000); 
                </script>
                <div class="contact-us-input">
                    <form action="{% url 'contact_us' %}" method="post">
                        {% csrf_token %}
                        <div class="input-box">
                            <input class="input-one" name="name" type="text" placeholder="Name">
                            <input type="text" name="email" placeholder="Your Email Address">
                        </div>
                        <div class="input-box">
                            <input class="input-one" name="phone" type="text" placeholder="Phone">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>
                        <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="contact-us-btn">Submit Now</button>
                </form>
            </div>

        </div>

        <div class="contact_us_information_background"> </div>
        <div class="contact_us_information">
            <div class="border-shadow"></div>
            <div class="detaills">
                <h4>Reach Us</h4>
                <hr>
                <div class="detaills_icon">
                    <span><i class="fas fa-map-marker-alt"></i></span>
                </div>
                <label for=""> Location</label>
                <p>University Echahid Chikh laarbi tbessi</p>
                <div class="detaills_icon">
                    <span><i class="fas fa-mobile"></i></span>
                </div>
                <label for=""> Feel free to contact us </label>
                <p>+213 667077138</p>
                <div class="detaills_icon">
                    <span><i class="fas fa-envelope"></i></span>
                </div>
                <label for=""> Support</label>
                <p>khedmati.tebessa@gmail.com</p>
            </div>
    
    </div>

    </div>

    <div id="footer">
        {% include 'Header_Footer/footer.html' %}
    </div>
    
    {% endblock %}
</body>

<script src="{%static 'js/Contact_us/custom.js'%}"></script>

</html>