<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/Header_Footer/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    
        <div class="row">
            <div class="col">
                <a href="{%url 'home'%}">
                <img src="{%static 'img/Header_Footer/new_footer_logo.png'%}" class="logo-footer">
                </a>
                <p>we are Khemdati team a job search website dedicated to helping people find their jobs. Our platform provides job seekers with access to millions of job openings across various industries and locations. We also offer a range of resources and tools to help job seekers with their job search, including resume builders !</p>
            </div>
            <div class="col">
                <h3>Informations <div class="col-underline"><span></span></div></h3>
                <p>Tebessa, Algeria</p>
                <p>University Echahid Chikh Laarbi Tbessi</p>
                <p class="email-id">khedmati.tebessa@gmail.com</p>
                <h4>+213 - 667077138</h4> 
                <h4>+213 - 698076878</h4> 
            </div>
            <div class="col">
                <h3>Links <div class="col-underline"><span></span></div></h3>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{%url 'jobs_list'%}">Jobs</a></li>
                    <li><a href="{%url 'news_page'%}">News</a></li>
                    <li><a href="{%url 'about_us'%}">About us</a></li>
                    <li><a href="{%url 'contact_us'%}">Contact us</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>News lettre <div class="col-underline"><span></span></div></h3>
                <form>
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Enter your email id" required>
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
                <div class="footer-social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
                <hr>
                <p class="copyright">Copyright © 2023 All rights reserved</p>
                <p class="Developed-by">Developed by : <a href="#">Mecheri Rabeh &</a><a href="#"> Dhia Djalel</a> </p>
    
    </footer>
    
</body>
<script src="{%static 'js/Header_Footer/custom.js'%}" ></script> 

</html>