<!DOCTYPE html>
<html lang="en">

<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{%static 'css/About_us/about_us.css' %}">
    <script src="jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>About Us </title>
</head>


<body>
  {% block content %}

<div class="khedmati">
  {% include 'Header_Footer/header.html' %}
</div>


    <div class="about_us_wallpaper">
        <img src="{%static 'img/About_us/Background.jpg'%}" alt="">
        <h1>About Us</h1>
        <div class="about_us_wallpaper_color"></div>
    </div>    
    
    <div class="container">
      <div class="about-us-text">
        <h2>Meet Our Team</h2>
        <p>We are a job search website dedicated to helping people find their jobs. Our platform provides job seekers with access to millions of job openings across various industries and locations. We also offer a range of resources and tools to help job seekers with their job search, including resume builders .</p>
        <p>Our mission is to connect job seekers with employers and help them find fulfilling careers. We believe that everyone deserves to love what they do, and we are committed to making that a reality.</p>
      </div>

     <section>
      <div class="team-row">
        <!-- Column 1-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="{%static 'img/About_us/Djelal.jpg'%}" />
            </div>
            <h3>Djelal Dhia</h3>
            <p>Developer & Designer </p>
            <p>+213-698076878</p>
            <div class="icons">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Column 2-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="{%static 'img/About_us/Rabeh.jpg'%}" />
            </div>
            <h3>Mecheri Rabeh</h3>
            <p>Developer</p>
            <p>+213-698076878</p>
            <div class="icons">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
    </section>
</div>

    <div id="footer">
      {% include 'Header_Footer/footer.html' %}
    </div>
    
    {% endblock %}
    </body>

</html>