<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{%static 'css/Sign_up_in/forget_password/forget_password.css'%}">
</head>

<body>
  {% block content%}
  
  <div class="container">
    <h1>Forgot Password?</h1>
    
    {% if messages %}
    {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
      {% endif %}

    {% if show_countdown and time_remaining %}
    <p id='countdown'></p>
    <script>
      var countDownSeconds;
        var x;
        
        // check if countDownSeconds is already stored in localStorage
        if (localStorage.getItem('countDownSeconds')) {
            countDownSeconds = parseInt(localStorage.getItem('countDownSeconds'));
        } else {
            countDownSeconds = {{ time_remaining }};
        }
        
        var countdownElem = document.getElementById("countdown");
        updateCountdown();

        function updateCountdown() {
            var minutes = Math.floor(countDownSeconds / 60);
            var seconds = countDownSeconds % 60;
            var displaySeconds = seconds < 10 ? '0' + seconds : seconds;
            countdownElem.innerHTML = minutes + ':' + displaySeconds;
            countDownSeconds--;
            
            // store countDownSeconds in localStorage
            localStorage.setItem('countDownSeconds', countDownSeconds);
            
            if (countDownSeconds < 0) {
                clearInterval(x);
                localStorage.removeItem('countDownSeconds');
              }
            }
            
            x = setInterval(updateCountdown, 1000);
          </script>
          {% endif %}
      <form method="post"> 
        {%csrf_token%}
      <div class="form-group">
        <label for="email">Enter your email address:</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>
      <br>
      <div class="form-group">
        <label for="user_type">User Type</label>
        <select name="user_type" class="user_type" class="form-control" required>
          <option value="">Select User Type</option>
          <option value="employer">Employer</option>
          <option value="candidate">Candidate</option>
        </select>
      </div>
      <br>
      <button type="submit" class="btn-submit">Send link</button>
    </form>
  </div>

{%endblock%}
</body>
<script src="{%static 'js/Sign_up_in/forget_password/forget_password.js'%}"></script>

</html>